In [1]:
Download_dir = '/home/mbrenes/Downloads'
import os
import sys
import pandas as pd
from time import sleep
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import datetime as dt
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [3]:
def Download_Monthly(month,year):
    print("downloading report "+str(month)+"/"+year)
    Download_dir = '/home/mbrenes/Downloads'
    import os
    import sys
    import pandas as pd
    from time import sleep
    from selenium import webdriver
    from selenium.webdriver.support.ui import Select
    import datetime as dt

    browser = webdriver.Chrome()
    browser.get('https://owners.ciirus.com/Account/Login')
    sleep(5)
    # Login
    username= browser.find_element(by=By.XPATH, value="//input[@class='form-control'][@placeholder='Username']")
    password= browser.find_element(by=By.XPATH, value="//input[@class='form-control'][@placeholder='Password']")
    submit = browser.find_element(by=By.XPATH, value="//input[@type='submit']")
    username.send_keys("Mike1")
    password.send_keys("20Emily21@")
    submit.click()
    sleep(10)
    # Go to monthly report page and select month and year
    browser.get('https://owners.ciirus.com/Owner/OwnerMonthlyAccount')
    sleep(10)
    browser.get('https://owners.ciirus.com/Owner/OwnerMonthlyAccount')
    sleep(5)
    # get current window handle
    p = browser.current_window_handle
    # select month and year for report
    reportMonth =Select(browser.find_element(by=By.ID, value= "AccountMonth"))    
    reportYear =Select(browser.find_element(by=By.ID, value="AccountYear"))
    refresh =browser.find_element(by=By.ID, value="OwnerLoadMonthlyAccount")
    reportMonth.select_by_value(month)
    reportYear.select_by_value(year)
    refresh.click()
    sleep(4)
    # Download report 
    PrintReport =browser.find_element(by=By.ID, value="OwnerPrintMonthlyAccount")
    PrintReport.click()
    # takes a long time to load
    sleep(20)
    #Make print window active
    chwd = browser.window_handles
    for w in chwd:
        if w!=p:
            browser.switch_to.window(w)
    sleep(0.9)
    print("exporting report")
    export=browser.find_element(by=By.XPATH, value="//div[@title='Export To']")
    export.click()
    XLS=browser.find_element(by=By.XPATH, value="//div[@title='XLS']")
    XLS.click()
    sleep(5)
    # looks for all files in download folder created today. 
    newfile = 'Nothing '
    for file in os.listdir(Download_dir):
        if file == 'DxOwnerAccountMonthly.xls':
            oldfile = Download_dir+'/' + file
            newfile =month+'_'+year+'_Monthly_Report_Download.xls'
            os.rename(Download_dir+'/' + file, Download_dir+'/'+newfile )
            print(newfile +' downloaded')

In [4]:
Download_Monthly('7','2022')

downloading report 7/2022
exporting report
7_2022_Monthly_Report_Download.xls downloaded

In [5]:
month = range(8)
year = '2022'
for d in month:
    m = d+1    
#     print("Download_Monthly("+str(m)+","+year+")")
    Download_Monthly(str(m),year)

downloading report 1/2022
exporting report
1_2022_Monthly_Report_Download.xls downloaded
downloading report 2/2022
exporting report
2_2022_Monthly_Report_Download.xls downloaded
downloading report 3/2022
exporting report
3_2022_Monthly_Report_Download.xls downloaded
downloading report 4/2022
exporting report
4_2022_Monthly_Report_Download.xls downloaded
downloading report 5/2022
exporting report
5_2022_Monthly_Report_Download.xls downloaded
downloading report 6/2022
exporting report
6_2022_Monthly_Report_Download.xls downloaded
downloading report 7/2022
exporting report

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@title='Export To']"}
  (Session info: chrome=103.0.5060.114)
Stacktrace:
#0 0x55b9a64d0b13 <unknown>
#1 0x55b9a62d7688 <unknown>
#2 0x55b9a630ecc7 <unknown>
#3 0x55b9a630ee91 <unknown>
#4 0x55b9a6341e34 <unknown>
#5 0x55b9a632c8dd <unknown>
#6 0x55b9a633fb94 <unknown>
#7 0x55b9a632c7a3 <unknown>
#8 0x55b9a63020ea <unknown>
#9 0x55b9a6303225 <unknown>
#10 0x55b9a65182dd <unknown>
#11 0x55b9a651c2c7 <unknown>
#12 0x55b9a650222e <unknown>
#13 0x55b9a651d0a8 <unknown>
#14 0x55b9a64f6bc0 <unknown>
#15 0x55b9a65396c8 <unknown>
#16 0x55b9a6539848 <unknown>
#17 0x55b9a6553c0d <unknown>
#18 0x7fda197d3609 <unknown>

In [6]:
os.listdir(Download_dir)

['1_2021_Monthly_Report_Download.xls',
 '9_2021_Monthly_Report_Download.xls',
 '2_2021_Monthly_Report_Download.xls',
 '5_2022_Monthly_Report_Download.xls',
 '3_2022_Monthly_Report_Download.xls',
 '10_2021_Monthly_Report_Download.xls',
 '12_2021_Monthly_Report_Download.xls',
 '1_2022_Monthly_Report_Download.xls',
 '11_2021_Monthly_Report_Download.xls',
 '8_2021_Monthly_Report_Download.xls',
 '2_2022_Monthly_Report_Download.xls',
 '6_2022_Monthly_Report_Download.xls',
 '4_2021_Monthly_Report_Download.xls',
 '6_2021_Monthly_Report_Download.xls',
 '7_2021_Monthly_Report_Download.xls',
 '4_2022_Monthly_Report_Download.xls']

In [4]:
Download_Monthly('12','2021')

downloading report 12/2021
exporting report
12_2021_Monthly_Report_Download.xls downloaded

In [2]:
    browser = webdriver.Chrome()
    browser.get('https://owners.ciirus.com/Account/Login')
    sleep(5)
    # Login
    username= browser.find_element(by=By.XPATH, value="//input[@class='form-control'][@placeholder='Username']")
    password= browser.find_element(by=By.XPATH, value="//input[@class='form-control'][@placeholder='Password']")
    submit = browser.find_element(by=By.XPATH, value="//input[@type='submit']")
    username.send_keys("Mike1")
    password.send_keys("20Emily21@")
    submit.click()
    sleep(10)

In [21]:
# get reservations from web
html = browser.page_source
table = pd.read_html(html)
first = table[6]

In [20]:
first=table[6]

In [22]:
# get reservations from web
html = browser.page_source
table = pd.read_html(html)
second = table[6]

In [23]:
second

,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,30905584.0,-,Martin Olano,May/06/2021,Jun/08/2021,33.0,NaN,NaN,NaN
2,NaN,31677686.0,-,Daniel Lopez,Jun/09/2021,Jun/16/2021,7.0,NaN,NaN,NaN
3,NaN,30502479.0,-,April Weldon,Jun/17/2021,Jun/23/2021,6.0,NaN,NaN,NaN
4,NaN,30247918.0,-,Jorge Elizondo,Jun/26/2021,Jul/26/2021,30.0,NaN,NaN,NaN
5,NaN,31704950.0,-,Robert Villalta,Jul/30/2021,Aug/07/2021,8.0,NaN,NaN,NaN
6,NaN,32444837.0,OWN,Mike Brenes,Aug/07/2021,Aug/15/2021,8.0,NaN,NaN,NaN
7,NaN,35512000.0,OWN,Michael Brenes,Oct/14/2021,Oct/17/2021,3.0,NaN,NaN,NaN
8,NaN,35512077.0,-,Sarat Mikkilineni,Nov/20/2021,Nov/25/2021,5.0,NaN,NaN,NaN
9,NaN,35587706.0,-,Amairany Diaz,Dec/20/2021,Dec/24/2021,4.0,NaN,NaN,NaN
10,NaN,30054645.0,-,Brian Leibrandt,Dec/26/2021,Jan/02/2022,7.0,NaN,NaN,NaN
11,NaN,35383346.0,-,Jane Costa,Feb/02/2022,Feb/28/2022,26.0,NaN,NaN,NaN
12,NaN,35437583.0,-,Beth Hammell,Mar/05/2022,Apr/03/2022,29.0,NaN,NaN,NaN
13,NaN,36131706.0,-,Tamara Morris,Apr/05/2022,Apr/08/2022,3.0,NaN,NaN,NaN
14,NaN,35901766.0,-,Suhang Gu,Apr/13/2022,Apr/17/2022,4.0,NaN,NaN,NaN
15,NaN,36051771.0,-,Erica Shonk,Apr/20/2022,Apr/25/2022,5.0,NaN,NaN,NaN
16,NaN,36292264.0,-,Elena Amelenko,Apr/27/2022,May/27/2022,30.0,NaN,NaN,NaN
17,NaN,36362427.0,OWN,Mike Brenes,May/27/2022,Jun/01/2022,5.0,NaN,NaN,NaN
18,NaN,36278294.0,-,Peter Quinones,Jun/01/2022,Jun/08/2022,7.0,NaN,NaN,NaN
19,NaN,36204474.0,-,Christin Prather,Jun/13/2022,Jun/19/2022,6.0,NaN,NaN,NaN
20,NaN,35761071.0,-,Joan Dahl Hansen,Jun/24/2022,Jul/05/2022,11.0,NaN,NaN,NaN
21,NaN,36066025.0,-,Laetitia Filippi,Jul/07/2022,Jul/16/2022,9.0,NaN,NaN,NaN
22,NaN,36665873.0,OWN,Mike Brenes,Jul/16/2022,Jul/19/2022,3.0,NaN,NaN,NaN
23,NaN,36667491.0,-,Diego Mallo,Jul/21/2022,Jul/27/2022,6.0,NaN,NaN,NaN
24,NaN,36255655.0,-,Ashley Tarr,Jul/30/2022,Aug/13/2022,14.0,NaN,NaN,NaN

In [24]:
frames = [first,second]
reservations=pd.concat(frames)

In [65]:
df=reservations[[1,2,3,4,5,6]]

In [66]:
col= ['ID','Source','Guest Name','Arrival Date','Departure Date','Nights']

In [67]:
df.columns = col

In [68]:
len(df)

50

In [69]:
df1=df.drop_duplicates(keep='first', inplace=False)
len(df1)

31

In [74]:
remove_owner=df1['Source'] != 'OWN'
df2=df1[remove_owner].copy()
df2=df2.dropna()

In [83]:
df2['ID'] = df2['ID'].astype(int)
df2['Nights'] = df2['Nights'].astype(int)

In [84]:
final_res=df2[1:]
final_res

          ID Source         Guest Name Arrival Date Departure Date  Nights
1   29764605      -        Katie Dwyer  Mar/22/2021    Mar/28/2021       6
2   29725722      -         April Mial  Mar/28/2021    Apr/04/2021       7
3   30353982      -      Asil Abuhadba  Apr/04/2021    Apr/10/2021       6
4   30573076      -      Brett Barnett  Apr/10/2021    Apr/17/2021       7
5   30627570      -     Ricardo Flores  Apr/17/2021    May/04/2021      17
6   30905584      -       Martin Olano  May/06/2021    Jun/08/2021      33
7   31677686      -       Daniel Lopez  Jun/09/2021    Jun/16/2021       7
8   30502479      -       April Weldon  Jun/17/2021    Jun/23/2021       6
9   30247918      -     Jorge Elizondo  Jun/26/2021    Jul/26/2021      30
10  31704950      -    Robert Villalta  Jul/30/2021    Aug/07/2021       8
13  35512077      -  Sarat Mikkilineni  Nov/20/2021    Nov/25/2021       5
14  35587706      -      Amairany Diaz  Dec/20/2021    Dec/24/2021       4
15  30054645      -    Brian Leibrandt  Dec/26/2021    Jan/02/2022       7
16  35383346      -         Jane Costa  Feb/02/2022    Feb/28/2022      26
17  35437583      -       Beth Hammell  Mar/05/2022    Apr/03/2022      29
18  36131706      -      Tamara Morris  Apr/05/2022    Apr/08/2022       3
19  35901766      -          Suhang Gu  Apr/13/2022    Apr/17/2022       4
20  36051771      -        Erica Shonk  Apr/20/2022    Apr/25/2022       5
21  36292264      -     Elena Amelenko  Apr/27/2022    May/27/2022      30
23  36278294      -     Peter Quinones  Jun/01/2022    Jun/08/2022       7
19  36204474      -   Christin Prather  Jun/13/2022    Jun/19/2022       6
20  35761071      -   Joan Dahl Hansen  Jun/24/2022    Jul/05/2022      11
21  36066025      -   Laetitia Filippi  Jul/07/2022    Jul/16/2022       9
23  36667491      -        Diego Mallo  Jul/21/2022    Jul/27/2022       6
24  36255655      -        Ashley Tarr  Jul/30/2022    Aug/13/2022      14

In [139]:
os.listdir('RentalActivity')

['rentalactivity_April-2021.csv',
 'rentalactivity_August-2021.csv',
 'rentalactivity_July-2021.csv',
 'rentalactivity_June-2021.csv',
 'rentalactivity_March-2021.csv',
 'rentalactivity_May-2021.csv',
 'rentalactivity_November-2021.csv']

In [95]:
# PARSE OLD RENTAL ACTIVITY 
parsed= []
res = {}
for file in os.listdir('RentalActivity'):
    old_rr=pd.read_csv('RentalActivity/'+file)
    for i,rec in old_rr.iterrows():
        cleaner=rec['Description'].split(' ')[0]
        if cleaner == 'Rental':
            resID=rec['Description'].split('BID:')[1].split(')')[0].strip()                    
            arrival=rec['Description'].split(')')[1].split('-')[0].strip()
            departure = rec['Description'].split(')')[1].split('-')[1].strip()
            income=rec['Amount']
            res[resID] = {
            "arrival":arrival,
            "departure":departure,
            "income":income
            }

In [133]:
mylist = []
for i,r in new_df.iterrows():
    resnum=str(r['ID'])
    status = 'Checked Out'
    unit = 'Legendary Times at Story Lake'
    guest = str(r['Guest Name'])
    Booked_Date = 'Mar/01/2021'
    Check_In=str(r['Arrival Date'])
    Checkout=str(r['Departure Date'])
    Nights=str(r['Nights'])
    if str(r['ID']) in res.keys():
        Income=res[str(r['ID'])]['income']        
        myval = [resnum,status,unit,guest,Booked_Date,Check_In,Checkout,Nights,'$'+str(Income)]                  
    else:
        Income=None
        myval =  [resnum,status,unit,guest,Booked_Date,Check_In,Checkout,Nights,Income]                 
    mylist.append(myval)

In [136]:
mycols=['Res. #', 'Status', 'Unit', 'Guest', 'Booked Date', 'Check-In','Checkout', 'Nights', 'Income']

In [138]:
Final_old1 = pd.DataFrame(mylist,columns=mycols)
Final_old1

,Res. #,Status,Unit,Guest,Booked Date,Check-In,Checkout,Nights,Income
0,29764605,Checked Out,Legendary Times at Story Lake,Katie Dwyer,Mar/01/2021,Mar/22/2021,Mar/28/2021,6,$1147.5
1,29725722,Checked Out,Legendary Times at Story Lake,April Mial,Mar/01/2021,Mar/28/2021,Apr/04/2021,7,$1352.83
2,30353982,Checked Out,Legendary Times at Story Lake,Asil Abuhadba,Mar/01/2021,Apr/04/2021,Apr/10/2021,6,$1225.31
3,30573076,Checked Out,Legendary Times at Story Lake,Brett Barnett,Mar/01/2021,Apr/10/2021,Apr/17/2021,7,$1394.65
4,30627570,Checked Out,Legendary Times at Story Lake,Ricardo Flores,Mar/01/2021,Apr/17/2021,May/04/2021,17,$3195.46
5,30905584,Checked Out,Legendary Times at Story Lake,Martin Olano,Mar/01/2021,May/06/2021,Jun/08/2021,33,$4308.81
6,31677686,Checked Out,Legendary Times at Story Lake,Daniel Lopez,Mar/01/2021,Jun/09/2021,Jun/16/2021,7,$1160.0
7,30502479,Checked Out,Legendary Times at Story Lake,April Weldon,Mar/01/2021,Jun/17/2021,Jun/23/2021,6,$1099.35
8,30247918,Checked Out,Legendary Times at Story Lake,Jorge Elizondo,Mar/01/2021,Jun/26/2021,Jul/26/2021,30,$3652.86
9,31704950,Checked Out,Legendary Times at Story Lake,Robert Villalta,Mar/01/2021,Jul/30/2021,Aug/07/2021,8,$1376.99
10,35512077,Checked Out,Legendary Times at Story Lake,Sarat Mikkilineni,Mar/01/2021,Nov/20/2021,Nov/25/2021,5,$840.2
11,35587706,Checked Out,Legendary Times at Story Lake,Amairany Diaz,Mar/01/2021,Dec/20/2021,Dec/24/2021,4,None
12,30054645,Checked Out,Legendary Times at Story Lake,Brian Leibrandt,Mar/01/2021,Dec/26/2021,Jan/02/2022,7,None
13,35383346,Checked Out,Legendary Times at Story Lake,Jane Costa,Mar/01/2021,Feb/02/2022,Feb/28/2022,26,None
14,35437583,Checked Out,Legendary Times at Story Lake,Beth Hammell,Mar/01/2021,Mar/05/2022,Apr/03/2022,29,None
15,36131706,Checked Out,Legendary Times at Story Lake,Tamara Morris,Mar/01/2021,Apr/05/2022,Apr/08/2022,3,None
16,35901766,Checked Out,Legendary Times at Story Lake,Suhang Gu,Mar/01/2021,Apr/13/2022,Apr/17/2022,4,None
17,36051771,Checked Out,Legendary Times at Story Lake,Erica Shonk,Mar/01/2021,Apr/20/2022,Apr/25/2022,5,None
18,36292264,Checked Out,Legendary Times at Story Lake,Elena Amelenko,Mar/01/2021,Apr/27/2022,May/27/2022,30,None
19,36278294,Checked Out,Legendary Times at Story Lake,Peter Quinones,Mar/01/2021,Jun/01/2022,Jun/08/2022,7,None
20,36204474,Checked Out,Legendary Times at Story Lake,Christin Prather,Mar/01/2021,Jun/13/2022,Jun/19/2022,6,None
21,35761071,Checked Out,Legendary Times at Story Lake,Joan Dahl Hansen,Mar/01/2021,Jun/24/2022,Jul/05/2022,11,None
22,36066025,Checked Out,Legendary Times at Story Lake,Laetitia Filippi,Mar/01/2021,Jul/07/2022,Jul/16/2022,9,None
23,36667491,Checked Out,Legendary Times at Story Lake,Diego Mallo,Mar/01/2021,Jul/21/2022,Jul/27/2022,6,None
24,36255655,Checked Out,Legendary Times at Story Lake,Ashley Tarr,Mar/01/2021,Jul/30/2022,Aug/13/2022,14,None

In [140]:
Final_old1.to_csv('oldFinal_Missing.csv',index=False)

In [105]:
Res. #', 'Status', 'Unit', 'Guest', 'Booked Date', 'Check-In','Checkout', 'Nights', 'Income', 'Unnamed: 9'

{'arrival': '3/22/2021', 'departure': '3/28/2021', 'income': 1147.5}

In [108]:
final_res['Details'] = None

/tmp/ipykernel_23886/3415710273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_res['Details'] = None

In [111]:
new_df = final_res.copy()
new_df['Details'] = None 
new_df

,ID,Source,Guest Name,Arrival Date,Departure Date,Nights,Details
1,29764605,-,Katie Dwyer,Mar/22/2021,Mar/28/2021,6,None
2,29725722,-,April Mial,Mar/28/2021,Apr/04/2021,7,None
3,30353982,-,Asil Abuhadba,Apr/04/2021,Apr/10/2021,6,None
4,30573076,-,Brett Barnett,Apr/10/2021,Apr/17/2021,7,None
5,30627570,-,Ricardo Flores,Apr/17/2021,May/04/2021,17,None
6,30905584,-,Martin Olano,May/06/2021,Jun/08/2021,33,None
7,31677686,-,Daniel Lopez,Jun/09/2021,Jun/16/2021,7,None
8,30502479,-,April Weldon,Jun/17/2021,Jun/23/2021,6,None
9,30247918,-,Jorge Elizondo,Jun/26/2021,Jul/26/2021,30,None
10,31704950,-,Robert Villalta,Jul/30/2021,Aug/07/2021,8,None
13,35512077,-,Sarat Mikkilineni,Nov/20/2021,Nov/25/2021,5,None
14,35587706,-,Amairany Diaz,Dec/20/2021,Dec/24/2021,4,None
15,30054645,-,Brian Leibrandt,Dec/26/2021,Jan/02/2022,7,None
16,35383346,-,Jane Costa,Feb/02/2022,Feb/28/2022,26,None
17,35437583,-,Beth Hammell,Mar/05/2022,Apr/03/2022,29,None
18,36131706,-,Tamara Morris,Apr/05/2022,Apr/08/2022,3,None
19,35901766,-,Suhang Gu,Apr/13/2022,Apr/17/2022,4,None
20,36051771,-,Erica Shonk,Apr/20/2022,Apr/25/2022,5,None
21,36292264,-,Elena Amelenko,Apr/27/2022,May/27/2022,30,None
23,36278294,-,Peter Quinones,Jun/01/2022,Jun/08/2022,7,None
19,36204474,-,Christin Prather,Jun/13/2022,Jun/19/2022,6,None
20,35761071,-,Joan Dahl Hansen,Jun/24/2022,Jul/05/2022,11,None
21,36066025,-,Laetitia Filippi,Jul/07/2022,Jul/16/2022,9,None
23,36667491,-,Diego Mallo,Jul/21/2022,Jul/27/2022,6,None
24,36255655,-,Ashley Tarr,Jul/30/2022,Aug/13/2022,14,None