In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
from time import sleep
import json

browser = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
browser.get("https://gw.trackhs.com/owner/")

In [2]:
# Login 
username=browser.find_element(by=By.XPATH, value="//input[@placeholder='Email']")
password=browser.find_element(by=By.XPATH, value="//input[@placeholder='Password']")
login=browser.find_element(by=By.XPATH, value="//button[@type='submit']")
username.send_keys('4806brierrose@brenesfinancial.com')
password.send_keys('MyM0n3yH0m3')
login.submit()

In [4]:
### instead of exporting to file we will just save the html
# get reservations 
# restab=browser.find_element(by=By.XPATH, value="//span[normalize-space()='Reservations']")
# restab.click()
# sleep(5)
# export=browser.find_element(by=By.XPATH, value="//input[@value='Export']")
# export.click()

In [5]:
# get reservations from web
html = browser.page_source
table = pd.read_html(html)
res_df = table[0]

In [6]:
res_df

,Res. #,Status,Type,Unit,Guest,Booked Date,Check-In,Checkout,Nights,Income,Unnamed: 10
0,1096275,Checked Out,Owner,Legendary Times at Story Lake,Brenes,"Aug 24, 2022","Sep 23, 2022","Oct 2, 2022",9,$0.00,NaN
1,1096930,Checked Out,Homeaway,Legendary Times at Story Lake,Sarousi,"Aug 31, 2022","Oct 14, 2022","Oct 19, 2022",5,$562.27,NaN
2,1097362,Checked Out,Homeaway,Legendary Times at Story Lake,Cutcher,"Sep 5, 2022","Oct 6, 2022","Oct 12, 2022",6,$674.73,NaN
3,1098288,Confirmed,Homeaway,Legendary Times at Story Lake,Hool,"Sep 16, 2022","Nov 9, 2022","Nov 13, 2022",4,$468.18,NaN
4,1098795,Checked Out,Homeaway,Legendary Times at Story Lake,Reed,"Sep 22, 2022","Oct 22, 2022","Oct 30, 2022",8,$899.64,NaN
5,1099938,Confirmed,Web Booking,Legendary Times at Story Lake,rippy,"Oct 5, 2022","Dec 23, 2022","Jan 2, 2023",10,"$2,582.61",NaN
6,1100775,Confirmed,Homeaway,Legendary Times at Story Lake,Russell,"Oct 14, 2022","Nov 23, 2022","Nov 26, 2022",3,$506.43,NaN
7,1102386,Confirmed,Homeaway,Legendary Times at Story Lake,Philbrook,"Nov 1, 2022","Nov 19, 2022","Nov 23, 2022",4,$421.51,NaN
8,1102644,Confirmed,Homeaway,Legendary Times at Story Lake,Figueroa,"Nov 3, 2022","Nov 6, 2022","Nov 9, 2022",3,$314.41,NaN

In [8]:
import chk_new_res as cn
# check if res id exists
curr = pd.read_csv('All_reservations.csv')
new_res=res_df[['Res. #','Guest','Check-In','Checkout','Nights']]
new_res.columns = ['Res_ID','Guest','CheckIn','CheckOut','Nights']
n_df=cn.checkNewRes(curr,new_res)

ModuleNotFoundError: No module named 'chk_new_res'

'[{"Res_ID":1102386,"Guest":"Philbrook","CheckIn":"Nov 19, 2022","CheckOut":"Nov 23, 2022","Nights":4}]'

In [205]:
# Send new to calendar
result = n_df.to_json(orient="records")
n_pl=json.loads(result)
for rec in n_pl:
    Send2Cal(build_pl(rec))

4806brierrose@brenesfinancial.com
Event created: https://www.google.com/calendar/event?eid=NzlpOWN1NzQydm1tcTFhbHZmYnFucmJyaTggNDgwNmJyaWVycm9zZUBicmVuZXNmaW5hbmNpYWwuY29t
4806brierrose@brenesfinancial.com
Event created: https://www.google.com/calendar/event?eid=cG12aDIyaHFudGpudG1jdW4wbmxscHFubGMgNDgwNmJyaWVycm9zZUBicmVuZXNmaW5hbmNpYWwuY29t
4806brierrose@brenesfinancial.com
Event created: https://www.google.com/calendar/event?eid=cG5tOWNjbTIwMnI2Y2U1N3RqZnE5YXZwY28gNDgwNmJyaWVycm9zZUBicmVuZXNmaW5hbmNpYWwuY29t
4806brierrose@brenesfinancial.com
Event created: https://www.google.com/calendar/event?eid=N21rbW9nc2tkNm1kbDFjbnVtbjlncDVvZTAgNDgwNmJyaWVycm9zZUBicmVuZXNmaW5hbmNpYWwuY29t
4806brierrose@brenesfinancial.com
Event created: https://www.google.com/calendar/event?eid=ZHR0dTZta2g0ODUyaHQzNW5sYnJkOWY2bHMgNDgwNmJyaWVycm9zZUBicmVuZXNmaW5hbmNpYWwuY29t
4806brierrose@brenesfinancial.com
Event created: https://www.google.com/calendar/event?eid=dW9majhhaWMzbXBxOWUxbDVha2JlN2hyY3MgNDgwNmJyaWVycm9zZUBicmVuZXNmaW5hbmNpYWwuY29t
4806brierrose@brenesfinancial.com
Event created: https://www.google.com/calendar/event?eid=MDA0bHY2cmFyODZhbzBibWtrYXRxOWFwNW8gNDgwNmJyaWVycm9zZUBicmVuZXNmaW5hbmNpYWwuY29t

In [38]:
# get statements
state_tab=browser.find_element(by=By.XPATH, value="//span[normalize-space()='Statements']")
state_tab.click()
state_sum = browser.find_element(by=By.XPATH, value="//a[@class='btn btn-primary']")
state_sum.click()
start_date=browser.find_element(by=By.XPATH, value="/html[1]/body[1]/div[2]/div[1]/div[1]/div[2]/form[1]/div[1]/div[2]/div[1]/div[1]/div[1]/input[1]")
end_date=browser.find_element(by=By.XPATH, value="//div[@class='panel-body']//div[2]//div[1]//input[1]")
run=browser.find_element(by=By.XPATH, value="//button[@id='run-report']")
state_export=browser.find_element(by=By.XPATH, value="//button[@id='export-as-excel']")

In [ ]:
state_export.click()
run.click()

### Rename saved files and move to booking directory

In [ ]:
dl_dir = 'app/downloads'

In [40]:

# start_cal=browser.find_element(by=By.XPATH, value="/html[1]/body[1]/div[2]/div[1]/div[1]/div[2]/form[1]/div[1]/div[2]/div[1]/div[1]/div[1]/input[1]")
# start_cal.clear()
# start_cal.send_keys('08/01/2022')
# start_cal.submit()
# # start_cal.click()
# # start_date=browser.find_element(by=By.XPATH, value="//td[@class='active day']")

# Functions

In [ ]:
'Res_ID','Guest','CheckIn','CheckOut','Nights'

In [8]:
def Send2Cal(payload):
    from datetime import datetime, timedelta
    from apiclient.discovery import build 
    from google_auth_oauthlib.flow import InstalledAppFlow
    import pickle
    
    credentials = pickle.load(open("token.pkl","rb"))
    service = build("calendar","v3", credentials=credentials)
    # list all the calendars
    result = service.calendarList().list().execute()
    Calendar_ID = result['items'][0]['id']
    print(Calendar_ID)
    
    body = {
              'summary': payload["Summary"],
              'location': '4806 BrierRose Lane ',
              'description': payload["Description"],
              'start': {
                'dateTime': payload["calStart"],
                'timeZone': 'America/New_York',
              },
              'end': {
                'dateTime': payload["calEnd"],
                'timeZone': 'America/New_York',
              }
            }
    
    event = service.events().insert(calendarId=Calendar_ID, body=body).execute()
    print('Event created: %s' % (event.get('htmlLink')))

In [64]:
#get old reservations

In [133]:
browser = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
browser.get('https://owners.ciirus.com/Account/Login')
sleep(5)
# Login
username= browser.find_element(by=By.XPATH, value="//input[@class='form-control'][@placeholder='Username']")
password= browser.find_element(by=By.XPATH, value="//input[@class='form-control'][@placeholder='Password']")
submit = browser.find_element(by=By.XPATH, value="//input[@type='submit']")
username.send_keys("Mike1")
password.send_keys("20Emily21@")
submit.click()
sleep(3)

In [135]:
button=browser.find_element(by=By.XPATH, value="//span[normalize-space()='Reservations Manager']")
button.click()
sleep(5)
dt_box=browser.find_element(by=By.XPATH, value="//div[@id='BookingsSince']//input[@role='combobox']")
dt_box.clear()
dt_box.send_keys('Jan/01/2021')
dt_box.click()
sleep(5)
old_html = browser.page_source
old_table = pd.read_html(old_html)
old_df = old_table[3]
sleep(5)

In [117]:
old_html = browser.page_source
old_table = pd.read_html(old_html)
old_df = old_table[3]

In [ ]:
# save to csv

In [170]:
new_col=['Res_ID','Guest','CheckIn','CheckOut','Nights']
old_def=old_df[[1,3,4,5,6]]
old_def.columns = new_col

In [171]:
old_def.to_csv('All_reservations.csv',index=False)

30
    Res_ID   Guest       CheckIn     CheckOut  Nights
0  1096275  Brenes  Sep 23, 2022  Oct 2, 2022       9
    Res_ID    Guest       CheckIn      CheckOut  Nights
1  1096930  Sarousi  Oct 14, 2022  Oct 19, 2022       5
    Res_ID    Guest      CheckIn      CheckOut  Nights
2  1097362  Cutcher  Oct 6, 2022  Oct 12, 2022       6
    Res_ID Guest      CheckIn      CheckOut  Nights
3  1098288  Hool  Nov 9, 2022  Nov 13, 2022       4
    Res_ID Guest       CheckIn      CheckOut  Nights
4  1098795  Reed  Oct 22, 2022  Oct 30, 2022       8
    Res_ID  Guest       CheckIn     CheckOut  Nights
5  1099938  rippy  Dec 23, 2022  Jan 2, 2023      10
    Res_ID    Guest       CheckIn      CheckOut  Nights
6  1100775  Russell  Nov 23, 2022  Nov 26, 2022       3

In [183]:
len(master_df)

37

      Res_ID                Guest       CheckIn      CheckOut  Nights
6    1100775              Russell  Nov 23, 2022  Nov 26, 2022       3
5    1099938                rippy  Dec 23, 2022   Jan 2, 2023      10
4    1098795                 Reed  Oct 22, 2022  Oct 30, 2022       8
3    1098288                 Hool   Nov 9, 2022  Nov 13, 2022       4
2    1097362              Cutcher   Oct 6, 2022  Oct 12, 2022       6
1    1096930              Sarousi  Oct 14, 2022  Oct 19, 2022       5
0    1096275               Brenes  Sep 23, 2022   Oct 2, 2022       9
0   29721247  CFRM Clean / repair   Mar/13/2021   Mar/18/2021       5
1   29764605          Katie Dwyer   Mar/22/2021   Mar/28/2021       6
2   29725722           April Mial   Mar/28/2021   Apr/04/2021       7
3   30353982        Asil Abuhadba   Apr/04/2021   Apr/10/2021       6
4   30573076        Brett Barnett   Apr/10/2021   Apr/17/2021       7
5   30627570       Ricardo Flores   Apr/17/2021   May/04/2021      17
6   30905584         Martin Olano   May/06/2021   Jun/08/2021      33
7   31677686         Daniel Lopez   Jun/09/2021   Jun/16/2021       7
8   30502479         April Weldon   Jun/17/2021   Jun/23/2021       6
9   30247918       Jorge Elizondo   Jun/26/2021   Jul/26/2021      30
10  31704950      Robert Villalta   Jul/30/2021   Aug/07/2021       8
11  32444837          Mike Brenes   Aug/07/2021   Aug/15/2021       8
12  35512000       Michael Brenes   Oct/14/2021   Oct/17/2021       3
13  35512077    Sarat Mikkilineni   Nov/20/2021   Nov/25/2021       5
14  35587706        Amairany Diaz   Dec/20/2021   Dec/24/2021       4
15  30054645      Brian Leibrandt   Dec/26/2021   Jan/02/2022       7
16  35383346           Jane Costa   Feb/02/2022   Feb/28/2022      26
17  35437583         Beth Hammell   Mar/05/2022   Apr/03/2022      29
18  36131706        Tamara Morris   Apr/05/2022   Apr/08/2022       3
19  35901766            Suhang Gu   Apr/13/2022   Apr/17/2022       4
20  36051771          Erica Shonk   Apr/20/2022   Apr/25/2022       5
21  36292264       Elena Amelenko   Apr/27/2022   May/27/2022      30
22  36362427          Mike Brenes   May/27/2022   Jun/01/2022       5
23  36278294       Peter Quinones   Jun/01/2022   Jun/08/2022       7
24  36204474     Christin Prather   Jun/13/2022   Jun/19/2022       6
25  35761071     Joan Dahl Hansen   Jun/24/2022   Jul/05/2022      11
26  36066025     Laetitia Filippi   Jul/07/2022   Jul/16/2022       9
27  36665873          Mike Brenes   Jul/16/2022   Jul/19/2022       3
28  36667491          Diego Mallo   Jul/21/2022   Jul/27/2022       6
29  36255655          Ashley Tarr   Jul/30/2022   Aug/13/2022      14