In [1]:
import os
import sys
import pandas as pd
os.path.dirname(sys.executable)
https://owners.ciirus.com/Account/Login

'/usr/bin'

In [17]:
from time import sleep
from selenium import webdriver
# this is tested on Firefox or you can use "webdriver.Chrome()"
browser = webdriver.Chrome()
browser.get('https://owners.ciirus.com/Account/Login')
sleep(3)

In [18]:
username= browser.find_element_by_xpath("//input[@class='form-control'][@placeholder='Username']")
password= browser.find_element_by_xpath("//input[@class='form-control'][@placeholder='Password']")
submit = browser.find_element_by_xpath("//input[@type='submit']")
username.send_keys("Mike1")
password.send_keys("20Emily21@")
submit.click()
sleep(7)

In [21]:
import pandas as pd
df = pd.read_excel('/mnt/c/Users/brene/Downloads/DxOwnerAccountMonthly.xls')

In [31]:
df1 =df[10:150]

In [50]:
d2 = df1[['Unnamed: 0','Unnamed: 9','Unnamed: 21','Unnamed: 38', 'Unnamed: 42']]

In [53]:
d2 = d2.copy()
d2.dropna(axis=0,how='all', inplace=True)
headers = d2.iloc[0]
d3  = pd.DataFrame(d2.values[1:], columns=headers)

In [54]:
d3

10,Date,Description,Category,Credit,Debit
0,2022-04-01 00:00:00,Monthly Pest control,205 - Pest Control,NaN,30
1,2022-04-01 00:00:00,Weekly Pool Care,204 - Pool Cleaning,NaN,120
2,2022-04-01 00:00:00,Replace A/C filter,306 - Repairs,NaN,12
3,2022-04-01 00:00:00,Monthly Management fee,101 - Monthly Management Fee,NaN,150
4,2022-04-03 00:00:00,Clean for Beth Hammell (03 April 22),201 - Cleaning,NaN,225
5,2022-04-03 00:00:00,Rental payment for Beth Hammell (BID: 35437583...,Rental Income,3929.19,NaN
6,2022-04-03 00:00:00,Rental commission for Beth Hammell (BID: 35437...,107 - Booking commissions,NaN,532.28
7,2022-04-03 00:00:00,Cleaning fee for Beth Hammell (BID: 35437583) ...,Rental Income,225,NaN
8,2022-04-03 00:00:00,Credit card charges for Beth Hammell (BID: 354...,209 - Credit Card Fees,NaN,160.77
9,2022-04-03 00:00:00,Sales Tax for Beth Hammell,501 - Sales Tax,NaN,3.38
10,2022-04-03 00:00:00,Tourist Tax for Beth Hammell,502 - Tourist Tax,NaN,227.31
11,2022-04-08 00:00:00,Clean for Tamara Morris (08 April 22),201 - Cleaning,NaN,225
12,2022-04-08 00:00:00,Rental payment for Tamara Morris (BID: 3613170...,Rental Income,744.2,NaN
13,2022-04-08 00:00:00,Rental commission for Tamara Morris (BID: 3613...,107 - Booking commissions,NaN,79.32
14,2022-04-08 00:00:00,Cleaning fee for Tamara Morris (BID: 36131706)...,Rental Income,225,NaN
15,2022-04-08 00:00:00,Credit card charges for Tamara Morris (BID: 36...,209 - Credit Card Fees,NaN,33.37
16,2022-04-08 00:00:00,Sales Tax for Tamara Morris,501 - Sales Tax,NaN,3.38
17,2022-04-08 00:00:00,Tourist Tax for Tamara Morris,502 - Tourist Tax,NaN,47.03
18,2022-04-17 00:00:00,Clean for Suhang Gu (17 April 22),201 - Cleaning,NaN,225
19,2022-04-17 00:00:00,Rental payment for Suhang Gu (BID: 35901766) 4...,Rental Income,621.05,NaN
20,2022-04-17 00:00:00,Rental commission for Suhang Gu (BID: 35901766...,107 - Booking commissions,NaN,95.98
21,2022-04-17 00:00:00,Cleaning fee for Suhang Gu (BID: 35901766) 4/1...,Rental Income,225,NaN
22,2022-04-17 00:00:00,Credit card charges for Suhang Gu (BID: 359017...,209 - Credit Card Fees,NaN,37.44
23,2022-04-17 00:00:00,Sales Tax for Suhang Gu,501 - Sales Tax,NaN,3.38
24,2022-04-17 00:00:00,Tourist Tax for Suhang Gu,502 - Tourist Tax,NaN,52.79
25,2022-04-19 00:00:00,Replaced new mop and kitchen pot holders,202 - Housekeeping,NaN,46.5
26,2022-04-20 00:00:00,New Filter & Extra Chemicals,204 - Pool Cleaning,NaN,165
27,2022-04-20 00:00:00,Slats missing at sliding door (ID=36366598),306 - Repairs,NaN,70.8
28,2022-04-25 00:00:00,Clean for Erica Shonk (25 April 22),201 - Cleaning,NaN,225
29,2022-04-25 00:00:00,Rental payment for Erica Shonk (BID: 36051771)...,Rental Income,897.5,NaN
30,2022-04-25 00:00:00,Rental commission for Erica Shonk (BID: 360517...,107 - Booking commissions,NaN,132.37
31,2022-04-25 00:00:00,Cleaning fee for Erica Shonk (BID: 36051771) 4...,Rental Income,225,NaN
32,2022-04-25 00:00:00,Credit card charges for Erica Shonk (BID: 3605...,209 - Credit Card Fees,NaN,48.5
33,2022-04-25 00:00:00,Sales Tax for Erica Shonk,501 - Sales Tax,NaN,6.76
34,2022-04-25 00:00:00,Tourist Tax for Erica Shonk,502 - Tourist Tax,NaN,68.25
35,2022-04-27 00:00:00,Bill: Kissimmee Utility Authority / Service Pe...,401 - Electricity,NaN,280.57
36,2022-04-30 00:00:00,Rental Revenue,602 - Payments to Owner,NaN,2592.39
37,NaN,NaN,NaN,7091.94,5899.57
38,Maintaining the minimum required balance in yo...,NaN,NaN,NaN,NaN